* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
#unselect {
    background: hsl(213, 19%, 19%);
    color: hsl(216, 12%, 54%);
}
#select {
    background: hsl(217, 12%, 63%);
    color: white;
}
h1 {
    padding: 20px 0;
}
p {
    font-size: 18px;
    color: hsl(216, 12%, 54%);
    line-height: 2em;
}
body {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#main1 {
    display: block;
    background: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    height: 500px;
    width: 90%;
    max-width: 500px;
    padding: 35px;
    border-radius: 20px;
}
#main1 div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: hsl(213, 19%, 19%);
    border-radius: 50%;
}
#main1 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
}
#main1 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#main1 ul li:hover {
    background: hsl(25, 97%, 53%);
    cursor: pointer;
    color: white;
}
input {
    background: hsl(25, 97%, 53%);
    border: 0;
    color: white;
    width: 100%;
    height: 55px;
    border-radius: 55px;
    font-size: 18px;
    margin: 20px 0;
}
input:hover {
    background: white;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}
#main2 {
    background: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    height: 500px;
    width: 90%;
    max-width: 480px;
    padding: 35px;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#main2 img {
    width: fit-content;
    margin-bottom: 20px;
}
#main2 div {
    margin: 10px 0;
    background: hsl(213, 19%, 18%);
    padding: 5px 20px;
    color: hsl(25, 97%, 53%);
    border-radius: 100px;
}
#main2 div p {
    color: hsl(25, 97%, 53%);
}













